# UFO Sightings

In [116]:
import pandas as pd 
import numpy as np

In [117]:
df = pd.read_csv('scrubbed.csv', low_memory=False)
df

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
...,...,...,...,...,...,...,...,...,...,...,...
80327,9/9/2013 21:15,nashville,tn,us,light,600,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.1658333,-86.784444
80328,9/9/2013 22:00,boise,id,us,circle,1200,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.6136111,-116.202500
80329,9/9/2013 22:00,napa,ca,us,other,1200,hour,Napa UFO&#44,9/30/2013,38.2972222,-122.284444
80330,9/9/2013 22:20,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.9011111,-77.265556
80331,9/9/2013 23:00,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.6527778,-97.477778

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              80332 non-null  object
 1   city                  80332 non-null  object
 2   state                 74535 non-null  object
 3   country               70662 non-null  object
 4   shape                 78400 non-null  object
 5   duration (seconds)    80332 non-null  object
 6   duration (hours/min)  80332 non-null  object
 7   comments              80317 non-null  object
 8   date posted           80332 non-null  object
 9   latitude              80332 non-null  object
 10  longitude             80332 non-null  float64
dtypes: float64(1), object(10)
memory usage: 6.7+ MB

In [ ]:
# Convert to datetime
df['datetime'] = pd.to_datetime(df['datetime'], errors='coerce')

In [ ]:
# Create year column
df.insert(1, 'year', df['datetime'].dt.year)

In [ ]:
# As integer
df['year'] = df['year'].fillna(0).astype('Int64')

In [ ]:
# Convert to datetime
df['date posted'] = pd.to_datetime(df['date posted'], errors='coerce').dt.date

In [ ]:
# Title case
df['city'] = df['city'].str.title()

In [ ]:
# Upper case
df['state'] = df['state'].str.upper()

In [ ]:
# Coerce numeric
df['latitude'] = pd.to_numeric(df['latitude'], errors='coerce')

In [ ]:
# Column name
df = df.rename(columns={'longitude ':'longitude'})

In [ ]:
# Filter to US
us_states = np.asarray(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
                        'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
                        'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
                        'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
                        'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'])

# UFO sightings in United States only (70,805 rows)
df = df[df['state'].isin(us_states)].sort_values('year')
df = df[(df.latitude > 15) & (df.longitude < -65)]
df = df[(df.latitude > 50) & (df.longitude > -125) == False]
df = df[df['city'].str.contains('\(Canada\)|\(Mexico\)') == False]

<>:11: SyntaxWarning: invalid escape sequence '\('
<>:11: SyntaxWarning: invalid escape sequence '\('
/var/folders/r4/fdchq33x2vg7z1_7dstrhrn80000gn/T/ipykernel_13990/3799543497.py:11: SyntaxWarning: invalid escape sequence '\('
  df = df[df['city'].str.contains('\(Canada\)|\(Mexico\)') == False]

In [ ]:
# Remove null years
df = df[df['year']!=0]

In [ ]:
# Country column
df['country'] = 'US'

In [ ]:
# Coulmn names
df = df.rename(columns = {'duration (seconds)':'duration_seconds', 	
                            'duration (hours/min)':'duration',
                            'date posted':'date_posted'})

In [ ]:
# Remove ticks
df['duration_seconds'] = df['duration_seconds'].apply(lambda x: x.replace('`', ''))
df['duration_seconds'] = df['duration_seconds'].astype('float64')

In [ ]:
# Convert seconds to minutes
df['duration'] = df['duration_seconds'] / 60

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70257 entries, 46858 to 27773
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   datetime          70257 non-null  datetime64[ns]
 1   year              70257 non-null  Int64
 2   city              70257 non-null  object
 3   state             70257 non-null  object
 4   country           70257 non-null  object
 5   shape             68568 non-null  object
 6   duration_seconds  70257 non-null  float64
 7   duration          70257 non-null  float64
 8   comments          70244 non-null  object
 9   date_posted       70257 non-null  object
 10  latitude          70257 non-null  float64
 11  longitude         70257 non-null  float64
dtypes: Int64(1), datetime64[ns](1), float64(4), object(6)
memory usage: 7.0+ MB

In [134]:
df = df.reset_index(drop=True)

In [135]:
df

,datetime,year,city,state,country,shape,duration_seconds,duration,comments,date_posted,latitude,longitude
0,1910-06-01 15:00:00,1910,Wills Point,TX,US,cigar,120.0,2.00,Cigar shaped object moving from West to East,2005-04-16,32.709167,-96.008056
1,1920-06-11 21:00:00,1920,Cicero,IN,US,unknown,60.0,1.00,((NUFORC Note: Probable hoax. Note date. PD...,2009-05-12,40.123889,-86.013333
2,1925-12-28 18:00:00,1925,Atkinson (6 Miles North Of),IL,US,disk,60.0,1.00,Young boy witnesses disc in sky above Illinois...,2005-05-11,41.420833,-90.015000
3,1929-07-05 14:00:00,1929,Buchanan (Or Burns),OR,US,disk,60.0,1.00,we were traveling east of burns&#44clmbing up ...,2002-08-16,43.642500,-118.627500
4,1930-06-01 22:00:00,1930,Ithaca/Freeville,NY,US,triangle,1200.0,20.00,Very Large Triangle Shapped Object,2005-01-19,42.509167,-76.393804
...,...,...,...,...,...,...,...,...,...,...,...,...
70252,2014-03-31 03:00:00,2014,Chattanooga,TN,US,light,900.0,15.00,Bright light in my window.,2014-04-04,35.045556,-85.309722
70253,2014-03-31 04:00:00,2014,Binghamton,NY,US,chevron,600.0,10.00,Fleet of metalic objects over Binghamton N.Y.,2014-04-04,42.098611,-75.918333
70254,2014-03-31 05:00:00,2014,Petoskey,MI,US,formation,30.0,0.50,Multiple lights flying in triangular formation...,2014-04-04,45.373333,-84.955278
70255,2014-03-31 11:52:00,2014,Rio Rancho,NM,US,cigar,15.0,0.25,Cigar shaped craft traveling much faster than ...,2014-04-04,35.233333,-106.663889
70256,2014-02-21 19:45:00,2014,Newark (I-95; Near Pa Border),DE,US,circle,15.0,0.25,Slow moving orange and red circle&#44 like a l...,2014-02-27,39.683611,-75.750000

In [136]:
df.to_csv('ufo_proximity_data.csv', index=False)